@model MVC5Practice.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.DisplayForModel()
    </dl>
</div>
@* /Orders/Index?ClientId=1 *@

<h3>Html.Action</h3>

@Html.Action("Index", "Orders", new { ClientId = Model.ClientId })

<h3>Html.Partial</h3>

@Html.Partial("ClientOrders", Model.Order.ToList())
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
